

  .rating-meter {
    display: flex;
    align-items: center;
  }
  
  .star-label {
    position: relative;
  }
  
  .star-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .star {
    font-size: 24px;
    color: #ffd700; /* Gold color for filled stars */
  }
  
  .empty {
    color: #ccc; /* Gray color for empty stars */
  }
  
  .submit-button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #b6d6f9; /* Blue color for button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #daeafa; /* Darker blue color on hover */
  }
  


